.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(62, 88, 65);
  min-height: 100vh;
}

.game {
  max-width: 500px;
  background-color: transparent;
  margin-bottom: -15px !important;
}

.body {
  display: flex;
}

.help {
  color: rgb(214, 136, 34);
  margin: 10px;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.left {
  text-align: center;
  width: 50%;
  border: thin solid rgb(214, 136, 34);
}

.right {
  text-align: center;
  padding: 10px;
  width: 50%;
  border: thin solid rgb(214, 136, 34);
}

.star {
  display: inline-block;
  margin: 0 15px;
  color: rgb(214, 136, 34);
}

.star:after {
  content: "\2605";
  font-size: 45px;
}

.number {
  border: thin solid rgb(124, 108, 37);
  width: 45px;
  height: 45px;
  margin: 10px;
  font-size: 25px;
}

.number:focus,
.number:active {
  outline: none;
  border: thin solid rgb(214, 136, 34);
}

.timer {
  color: rgb(214, 136, 34);
  margin: 10px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
}

.game-done .message {
  font-size: 250%;
  font-weight: bold;
  margin: 15px;
}

.playAgainButton {
  background-color: rgb(214, 136, 34);
  padding: 5px;
  font-size: large;
  color: rgb(46, 63, 48);
  border-radius: 6px;
}
